main {
  width: 100%;
}

.texto-degradado {
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );

  background-size: 100%;
  background-repeat: repeat;
  background-clip: border-box;

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h1 > span {
  -webkit-text-fill-color: white;
  white-space: pre;
  text-overflow: ellipsis;
}

.colorPickerContainer {
  margin-top: 0.5rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-height: 120px;
  max-height: 80px;
  border: 1px solid rgb(255 255 255 / 0.1);
  border-radius: 0.25rem;
}

article > span {
  width: 100%;
  text-align: center;
}

.pressable-button {
  --color: black;
  border-radius: 3px;
  border: 2px solid var(--color);
  padding: 0.5rem 1rem;
  box-shadow: 0.5px 1px 0 0 var(--color), 1.5px 2px 0 0 var(--color),
    2.5px 3px 0 0 var(--color), 3.5px 4px 0 0 var(--color),
    4.5px 5px 0 0 var(--color), 5.5px 6px 0 0 var(--color);
  position: relative;
  top: 0;
  left: 0;
  transition: box-shadow 0.35s, top 0.3s, left 0.3s, transform 0.4s,
    outline-color 0.4s;
  cursor: pointer;
  transform: rotateX(0) rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  position: relative;
  background-color: white;
  transition: 0.3s;
}

.pressable-button:hover {
  box-shadow: 0 0 0 0 var(--color), 0 0 0 0 var(--color), 0 0 0 0 var(--color),
    0 0 0 0 var(--color), 0 0 0 0 var(--color), 0 0 0 0 var(--color);
  top: 6px;
  left: 5.5px;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(0.25deg);
}

.pressable-button:focus {
  --background: var(--pressable-button-background-color);
  --shadow: var(--pressable-button-shadow-color);
  box-shadow: 0 0 0 0 var(--color), 0 0 0 0 var(--color), 0 0 0 0 var(--color),
    0 0 0 0 var(--color), 0 0 0 0 var(--color), 0 0 0 0 var(--color),
    0 0 0 0 var(--color), 0 0 0 2px var(--background), 0 0 0 4px var(--color);
  outline: 0;
}

.pressable-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 0.5em;
  height: 0;
  border-radius: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: transparent;
  transition: bottom 0.4s, height 0.3s;
}

.pressable-button:focus:after {
  height: 0.5em;
  bottom: -1em;
  background-color: black;
}
